{% include "host_types/bare_metal.host_requires.xml.j2" %}
<or>
  {# The machines with amd or intel prefix are likely to be configured to #}
  {# load the cpufreq driver #}
  <hostname op="like" value="amd%"/>
  <hostname op="like" value="intel%"/>
</or>
