{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="CentOSStream9"/>
{% endset %}
{% set ks_append | unindent %}
  <ks_append><![CDATA[
  %post
  # Enable CentOS Stream 9 Buildroot for test dependencies
  # not always the compose and buildroot compose have same date tag
  cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
  [BUILDROOT-C9S]
  name=BUILDROOT-C9S
  baseurl=http://download.stream.rdu2.redhat.com/koji/repos/c9s-build/latest/{{ ARCH }}
  enabled=1
  gpgcheck=0
  EOF
  %end
  ]]></ks_append>
{% endset %}
{% set host_requires %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude X-Gene systems as they are unsupported for c9s and frequently abort #}
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="apm-mustang-%"/>
      </or>
    </not>
  {% endif %}
{% endset %}
{% set kernel_options_post = "rd.emergency=reboot kunit.enable=1" %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% if "rt" in COMPONENTS %}
  {% set kernel_options_post = kernel_options_post + " efi=runtime" %}
{% endif %}
