{% set distro_name = "RHEL-9.4.0-20240217.73" %}
{% set buildroot_name = "BUILDROOT-9.4.0-RHEL-9-20240217.74" %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="RedHatEnterpriseLinux9"/>
  <distro_name op="=" value="{{ distro_name }}"/>
{% endset %}
{% set ks_append | unindent %}
  <ks_append><![CDATA[
  %post
  # Enable RHEL9 Buildroot for test dependencies
  # not always the compose and buildroot compose have same date tag
  cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
  [BUILDROOT-9]
  name=BUILDROOT-9
  baseurl=http://download.hosts.prod.upshift.rdu2.redhat.com/rhel-9/nightly/BUILDROOT-9/{{ buildroot_name  }}/compose/Buildroot/{{ ARCH }}/os/
  enabled=1
  gpgcheck=0
  EOF
  %end
  ]]></ks_append>
{% endset %}
{% set host_requires %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude X-Gene systems as they are unsupported for rhel9 and frequently abort #}
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="apm-mustang-%"/>
      </or>
    </not>
  {% endif %}
{% endset %}
{% set kernel_options_post = "rd.emergency=reboot kunit.enable=1" %}
{# add efi=runtime otherwise reboot using kernel-rt will fail on machines with UEFI #}
{% if "rt" in COMPONENTS %}
  {% set kernel_options_post = kernel_options_post + " efi=runtime" %}
{% endif %}
